# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.DS_Store
.pio/build/esp32dev/idedata.json
.pio/build/project.checksum
.pio/libdeps/esp32dev/Arduino_JSON/
.pio/libdeps/esp32dev/integrity.dat
# .pio/libdeps/esp32dev/ME507-Support/
.pio/libdeps/esp32dev/PrintStream/
.vscode/c_cpp_properties.json
.vscode/extensions.json
.vscode/launch.json
include/README
lib/README
